<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Matador de Monstro</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="../style/style.css">
    </head>
    <body>
        <div id="app">
            <div class="panel scores">
                <div class="score">
                    <h1>Jogador</h1>
                    <div class="life-bar">
                        <div class="life"
                            :class="{danger: playerLife < 20}"
                            :style="{width: playerLife + '%'}"></div>
                    </div>
                    <div>{{playerLife}}%</div>
                </div>
                <div class="score">
                    <h1>Monstro</h1>
                    <div class="life-bar">
                        <div class="life"
                        :class="{danger: monsterLife < 20}"
                        :style="{width: monsterLife + '%'}"></div>
                    </div>
                    <div>{{monsterLife}}%</div>
                </div>
            </div>
            <template v-if="hasResult">
                <div class="panel result">
                    <label :class="colorLabelResult">
                        {{isPlayerWinner ? 'Voce ganhou!! =)' : 'Voce perdeu!! =('}}
                    </label>
                </div>
            </template>
            <div class="panel buttons">
                <template v-if="running">
                    <button class="btn attack" @click="attacking(false)">Ataque</button>
                    <button class="btn especial-attack" 
                            @click="attacking(true)"
                            :disabled="especialDisabled">
                        Ataque Especial
                    </button>
                    <button class="btn heal" @click="healAndHurt" :disabled="healDisabled">Curar</button>
                    <button class="btn give-up" @click="running = false">Desistir</button>
                </template>
                <button v-else @click="startGame" class="btn new-game">Iniciar Jogo</button>
            </div>
            <div class="panel logs" v-if="hasLog">
                <ul>
                    <li v-for="log in logs" class="log" :class="log.clazz">
                        {{log.text}}
                    </li>
                </ul>
            </div>
        </div>
        <script src="../scripts/app.js"></script>
    </body>
</html>
